.myChart {
    width: 100%;
    height: 800px;
}

.element {
    margin-bottom: 30px;
}

.custom-large-title {
    font-size: 36px; 
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
    margin-left: 10px;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}
  